<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Англ-Ру</title>
</head>
<body>
<h1>Англо-Русский словарь</h1>
<hr/>
<h3><a href="/static">Вернуться в главное меню</a></h3>
<h3>Добавить новое слово</h3>
<br>
<h3>Поиск по ключу (реализовать)</h3>
<br>
<h3>Поиск по значению (реализовать)</h3>
<br>
<div th:each="word : ${allValuesFromDictionary}">
    <h4>
        <a th:href="@{/eng-ru-dict/{id}(id=${word.getId()})}"
           th:switch="${word.getEnglishTranslateWords().size()}">
           <span th:case="'0'" th:text="${word.getWord() + ' - перевода пока нет'}"></span>
            <span th:case="'1'" th:text="${word.getWord() + ' - ' + word.getEnglishTranslateWords().get(0).getTranslation()}">
            </span>
            <!-- поработать над дефолт методом-->
            <span th:case="*" th:each="translate : ${word.getEnglishTranslateWords()}"
                  th:text="${word.getWord() + ' - ' + translate.getTranslation()}"></span>
        </a>
    </h4>
</div>
</body>
</html>