<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
</head>
<body>
<h1>Редактировать слово в англо-русском словаре :</h1>
<hr/>
<form method="post" action="http://localhost:8080/eng-ru-dict/edit" modelAttribute="editWord">
    <input type="hidden" name="id" th:value="${id}">
    <h2>Измените слово (Формат 5 цифр) :</h2><input type="text" name="word" th:value="${key}"><br>
    <h2>Измените перевод (Множественные значения через запятую) :</h2><input type="text" name="translations" th:value="${value}"><br>
    <input type="submit" value="Подтвердить изменения">
</form>
<br>
<p th:text="${message}"></p>
<hr/>
<form action="http://localhost:8080">
    <button type="submit">Вернуться на главную страницу</button>
</form>
</body>
</html>