<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Англ-Ру</title>
</head>
<body>
<h1>Англо-Русский словарь</h1>
<h3><a href="/">Вернуться в главное меню</a></h3>
<h3>Добавить новое слово</h3>
<br>
<h3>Поиск по ключу (реализовать)</h3>
<br>
<h3>Поиск по значению (реализовать)</h3>
<br>
<div th:each="word : ${allValuesFromDictionary}">
    <h4>
        <a th:href="@{/eng-ru-dict/{id}(id=${word.})"
           th:text="${word}">VALUE</a>
    </h4>
</div>
</body>
</html>