<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>Добавить слово</title>
</head>
<body>
<h1>Добавить слово в англо-русский словарь :</h1>
    <form method="post" action="http://localhost:8080/eng-ru-dict/new">
        <h2>Введите слово (Формат 5 цифр) :</h2><input type="text" name="newKeyWord"><br>
        <h2>Введите перевод :</h2><input type="text" name="newValueWord"><br>
        <input type="submit" value="Подтвердить сохранение">
    </form>
<br>
<p th:text="${message}"></p>
</body>
</html>