<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>Добавить слово</title>
</head>
<body>
<h1>Добавить слово в англо-русский словарь :</h1>
<hr/>
    <form method="post" action="http://localhost:8080/eng-ru-dict/new" modelAttribute="newWord">
        <h2>Введите слово (Формат 5 цифр) :</h2><input type="text" name="word"><br>
        <h2>Введите перевод (Множественные значения через запятую) :</h2><input type="text" name="translations"><br>
        <input type="submit" value="Подтвердить сохранение">
    </form>
<br>
<p th:text="${message}"></p>
<hr/>
<form action="http://localhost:8080">
    <button type="submit">Вернуться на главную страницу</button>
</form>
</body>
</html>