<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр слова</title>
</head>
<body>
<h1>Просмотр и редактирование пары слов</h1>

<br>
<h3>
    <a th:switch="${valueById.getEnglishTranslateWords().size()}">
        <span th:case="'0'"
              th:text="${valueById.getWord() + ' - перевода пока нет'}">
        </span>
        <span th:case="'1'"
              th:text="${valueById.getWord() + ' - ' + valueById.getEnglishTranslateWords().get(0).getTranslation()}">
        </span>
        <span th:case="*" th:each="translate : ${valueById.getEnglishTranslateWords()}"
              th:text="${valueById.getWord() + ' - ' + translate.getTranslation()}">
        </span>
    </a>
</h3>
<hr/>

<form th:method="GET" th:action="@{/eng-ru-dict/{id}/edit(id=${valueById.getId()})}">
    <input type="submit" value="Редактировать">
</form>
</body>
</html>