<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
<h1>Главное меню.
    Выберите нужный словарь ниже:</h1>
<hr/>
<h2>Англо-русский словарь :</h2>
<form th:method="delete" action="http://localhost:8080">
    <select name="select">
        <option th:each="word : ${allValuesFromDictionary}" th:value="${word}" th:text="${word}">
        </option>
    </select>
    <button type="submit">Удалить выбранное слово</button>
    <br>
    <!-- как перенести на страницу редактирования выбранного в селект теге слова?? -->
    <button type="button">Редактировать выбранное слово</button>
</form>
<br>
<form action="http://localhost:8080/eng-ru-dict/new">
    <button type="submit">Добавить новое слово</button>
</form>
<hr/>
<h2>Испано-русский словарь :</h2>
<button>Редактировать выбранное слово</button>
<button>Удалить выбранное слово</button>
<br>
<button>Добавить новое слово</button>
<hr/>
<h3>Введите слово для поиска :</h3>
<form method="post" action="http://localhost:8080">
    <input type="radio" name="dictionary" value="allDicts">Все словари<br>
    <input type="radio" name="dictionary" value="engRuDict">Англо-русский словарь<br>
    <input type="radio" name="dictionary" value="spainRuDict">Испано-русский словарь<br>
    <h3>Поиск по ключу :</h3> <input type="text" name="keyWord">
    <br>
    <h3>Поиск по значению :</h3> <input type="text" name="valueWord"><br>
    <input type="submit" value="Подтвердить выбор">
</form>
<p th:text="${message}"></p>
</body>
</html>